In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movie_df = pd.read_csv('IMDb Movies India.csv')

In [3]:
movie_df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [4]:
movie_df.describe()

               Year       Rating
count  14980.000000  7919.000000
mean   -1987.012350     5.842758
std       25.417532     1.384783
min    -2022.000000     1.100000
25%    -2009.000000     4.900000
50%    -1991.000000     6.000000
75%    -1968.000000     6.800000
max    -1913.000000    14.000000

In [5]:
movie_df.isnull().sum()

Name           0
Year         529
Duration    8268
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2385
Actor 3     3153
dtype: int64

In [6]:
movie_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15504    False
15505    False
15506    False
15507    False
15508    False
Length: 15509, dtype: bool

In [7]:
movie_df.isnull().sum()

Name           0
Year         529
Duration    8268
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2385
Actor 3     3153
dtype: int64

In [8]:
movie_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15504    False
15505    False
15506    False
15507    False
15508    False
Length: 15509, dtype: bool

In [9]:
movie_df['Genre'].value_counts()

Drama                         2780
Action                        1289
Thriller                       779
Romance                        708
Drama, Romance                 524
                              ...
Action, Musical, War             1
Horror, Crime, Thriller          1
Animation, Comedy                1
Romance, Action, Crime           1
Adventure, Fantasy, Sci-Fi       1
Name: Genre, Length: 485, dtype: int64

In [10]:
movie_df['Actor 1'].value_counts()

Ashok Kumar           158
Dharmendra            140
Jeetendra             140
Mithun Chakraborty    133
Amitabh Bachchan      129
                     ...
Vatsal Sheth            1
Ujala Baboria           1
Dimple Sewak            1
Komal Leels             1
Sangeeta Tiwari         1
Name: Actor 1, Length: 4718, dtype: int64

In [11]:
movie_df['Actor 2'].value_counts()

Rekha                 83
Hema Malini           72
Mithun Chakraborty    63
Dharmendra            61
Helen                 48
                      ..
Paris Keswani          1
Shubhangi Latkar       1
Amit Ghosh             1
Ayushi Singh           1
Sarah Jane Dias        1
Name: Actor 2, Length: 4890, dtype: int64

In [12]:
movie_df['Actor 3'].value_counts()

Pran                  91
Shakti Kapoor         65
Anupam Kher           64
Jeevan                59
Prem Chopra           52
                      ..
Mukhtar Begum          1
Kamna                  1
Amanda Renberg         1
Krishna Chaturvedi     1
Suparna Anand          1
Name: Actor 3, Length: 4815, dtype: int64

In [13]:
movie_df['Director'].value_counts()

Jayant Desai       58
Kanti Shah         57
Babubhai Mistry    50
Mahesh Bhatt       48
Master Bhagwan     47
                   ..
Heera               1
Parasuram           1
Sanil Khosla        1
Vinnil Markan       1
Kiran Thej          1
Name: Director, Length: 5941, dtype: int64

In [14]:
movie_df["Actor"] = movie_df['Actor 1'] + ', ' + movie_df['Actor 2'] + ', ' + movie_df['Actor 3']
movie_df["Directors"] = movie_df['Director'].astype('category').cat.codes
movie_df["Genres"] = movie_df['Genre'].astype('category').cat.codes
movie_df["Actors"] = movie_df['Actor'].astype('category').cat.codes
movie_df.head(5)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,Actor,Directors,Genres,Actors
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia,"Manmauji, Birbal, Rajendra Bhatia",1926,300,5872
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,"Rasika Dugal, Vivek Ghamande, Arvind Jangid",1549,300,8690
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana,"Sayani Gupta, Plabita Borthakur, Roy Angana",5126,352,9797
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,"Prateik, Ishita Raj, Siddhant Kapoor",3321,229,7573
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali,"Rajat Kapoor, Rituparna Sengupta, Antara Mali",385,300,8064

In [15]:
movie_df.dropna(inplace = True)

In [16]:
movie_df['Duration'] = movie_df['Duration'].str.split().str[0].astype(int)
# movie_df['Votes'] = movie_df['Votes'].str.split(',').astype(int)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
Input = movie_df.drop(['Name', 'Genre', 'Rating', 'Director', 'Actor 1', 'Actor 2', 'Actor 3', 'Actor','Year','Votes'], axis=1)
Output = movie_df['Rating']

In [19]:
Input.head()

   Duration  Directors  Genres  Actors
1       109       1549     300    8690
3       110       3321     229    7573
5       147       3803     198    2384
6       142       4996     367    4663
8        82        305     419   12101

In [20]:
Input.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5653 entries, 1 to 15508
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Duration   5653 non-null   int32
 1   Directors  5653 non-null   int16
 2   Genres     5653 non-null   int16
 3   Actors     5653 non-null   int16
dtypes: int16(3), int32(1)
memory usage: 99.4 KB

In [21]:
x_train, x_test, y_train, y_test = train_test_split(Input, Output, test_size = 0.2, random_state = 1)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
LR = LinearRegression()
LR.fit(x_train, y_train)
lr_preds = LR.predict(x_test)

In [24]:
lr_preds

array([6.07216658, 6.13651636, 5.83870428, ..., 6.19413957, 5.98922472,
       6.16315641])

In [29]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,lr_preds)

1.8938633414322428